openapi: "3.0.0"

info:
  version: 0.0.1
  title: ELTeC API
  contact:
    email: "trilcke@uni-potsdam.de"
  termsOfService: "https://eltec.clscor.io"
  license:
    name: "MIT"
    url: "https://github.com/clscor-io/eltec-api/blob/main/LICENSE"

servers:
  - url: https://eltec.clscor.io/api

tags:
  - name: meta
    description: Information about this service.
  - name: corpus
    description: Analyze a corpus.
  - name: text
    description: Analyze a text.
  - name: admin
    description: Manage corpora.
  - name: search
    description: Full-text search across ELTeC corpora.
  - name: DTS
    description: >-
      Distributed Text Services (DTS) v1.0 API.
      See https://dtsapi.org/specifications/versions/v1.0/

paths:
  /v1:
    get:
      summary: API base
      description: >-
        Shows version numbers of the eltec-api app and the underlying
        eXist-db.
      operationId: get-base
      tags: [meta]
      responses:
        "200":
          description: Returns JSON object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Info"
              example:
                { "existdb": "6.4.0", "name": "ELTeC API", "version": "1.0.0" }

  /v1/info:
    get:
      summary: API info
      description: See /v1
      operationId: get-info
      tags: [meta]
      responses:
        "200":
          description: Returns JSON object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Info"
              example:
                { "existdb": "6.4.0", "name": "ELTeC API", "version": "1.0.0" }

  /v1/corpora:
    get:
      summary: List available corpora
      description: Get a list of available corpora. Optionally include corpus metrics.
      operationId: get-corpora
      tags: [corpus]
      responses:
        "200":
          description: Returns list of available corpora
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Corpus"
              example:
                [
                  {
                    "name": "eng",
                    "title": "English Novel Corpus",
                    "repository": "https://github.com/COST-ELTeC/ELTeC-eng",
                    "description": "This is the English novel collection for the ELTeC, the European Literary Text Collection.",
                    "licence": "CC BY",
                    "licenceUrl": "https://creativecommons.org/licenses/by/4.0/",
                    "uri": "http://eltec.clscor.io/api/corpora/eng",
                    "textsUrl": "http://eltec.clscor.io/api/corpora/eng/texts",
                    "metrics":
                      {
                        "numOfTexts": 23,
                        "numOfAuthors": 21,
                        "numOfParagraphs": 46457,
                        "numOfWords": 2346818.0,
                      },
                    "updated": "2025-07-02T13:52:54.934Z",
                  },
                ]
    post:
      summary: Add new corpus
      operationId: post-corpora
      tags: [admin]
      requestBody:
        description: |
          The meta data for the new corpus can be provided in either JSON or XML
          format. The JSON structure is a straightforward object providing
          corpus name, title and (optionally) a repository URL. The XML format
          needs to be a TEI document with `teiCorpus` as its root element. The
          corpus title needs to be provided in the `titleStmt` while the name
          and repo URL are encoded in particular `idno` elements in the
          `publicationStmt` (see example).

          NB: Contrary to the TEI schema our teiCorpus document must not contain
          the `TEI` elements for individual texts.
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - title
              properties:
                name:
                  type: string
                  description: corpus name
                title:
                  type: string
                  description: corpus title
                repository:
                  type: string
                  description: Git repository URL
            example: |
              {
                "name": "eng",
                "title": "English Novel Corpus",
                "repository": "https://github.com/COST-ELTeC/ELTeC-eng"
              }
          application/xml:
            schema:
              type: string
            example: |
              <?xml version="1.0" encoding="UTF-8"?>
              <teiCorpus xmlns="http://www.tei-c.org/ns/1.0">
                <teiHeader>
                  <fileDesc>
                    <titleStmt>
                      <title>English Novel Corpus</title>
                    </titleStmt>
                    <publicationStmt>
                      <publisher>ELTeC</publisher>
                      <idno>eng</idno>
                      <idno type="repo">https://github.com/COST-ELTeC/ELTeC-eng</idno>
                    </publicationStmt>
                  </fileDesc>
                </teiHeader>
              </teiCorpus>
      responses:
        "200":
          description: Returns corpus metadata
          content:
            application/json:
              schema:
                type: object
        "409":
          description: Corpus already exists
        "400":
          description: Posted data lacks required properties or is malformed

  /v1/corpora/{corpusname}:
    get:
      summary: Get metadata of a single corpus
      description: Retrieve metadata about a single corpus.
      operationId: get-corpus
      tags: [corpus]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        "200":
          description: Returns object representing corpus metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Corpus"
              example: |
                {
                  "name": "eng",
                  "title": "English Novel Corpus",
                  "repository": "https://github.com/COST-ELTeC/ELTeC-eng",
                  "description": "This is the English novel collection for the ELTeC, the European Literary Text Collection.",
                  "licence": "CC BY",
                  "licenceUrl": "https://creativecommons.org/licenses/by/4.0/",
                  "uri": "http://eltec.clscor.io/api/corpora/eng",
                  "textsUrl": "http://eltec.clscor.io/api/corpora/eng/texts",
                  "metrics":
                    {
                      "numOfTexts": 23,
                      "numOfAuthors": 21,
                      "numOfParagraphs": 46457,
                      "numOfWords": 2346818.0
                    },
                  "updated": "2025-07-02T13:52:54.934Z"
                }
        "404":
          description: Corpus not found
    put:
      summary: Update corpus.xml
      description: >-
        This endpoint requires authorization.

        Sending a PUT request to the corpus URI with a teiCorpus document as
        payload updates the corpus information for that corpus.
      operationId: put-corpus
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        "200":
          description: corpus.xml has been successfully updated
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Corpus not found
        "400":
          description: >-
            Corpus information could not be updated
    post:
      summary: Load corpus data from its repository
      description: >-
        This endpoint requires authorization.

        Sending a POST request to the corpus URI reloads the data for this
        corpus from its repository (if defined).
      operationId: load-corpus
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        "202":
          description: Corpus update has been scheduled
          content:
            application/json:
              schema:
                type: object
              example: |
                {
                  "message": "corpus update scheduled"
                }
        "404":
          description: Corpus not found
        "409":
          description: >-
            Corpus update could not be scheduled.

            This is the response when another update has not yet finished.
    delete:
      summary: Remove corpus from database
      operationId: delete-corpus
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        "200":
          description: Corpus deleted
        "404":
          description: Corpus not found

  /v1/corpora/{corpusname}/texts:
    get:
      summary: List texts in a corpus
      description: Get the contens of a single corpus
      operationId: get-corpus-texts
      tags: [corpus]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        "200":
          description: Returns an array with text meta data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Text"

  /v1/corpora/{corpusname}/texts/{textname}:
    get:
      summary: Get a single text information
      description: Get metadata about an individual text in JSON format.
      operationId: get-text
      tags: [text]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      responses:
        "200":
          description: Returns an object with text meta data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Text"
            application/tei+xml:
              schema:
                type: string

    delete:
      summary: Remove a single text from the corpus
      operationId: delete-text
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      responses:
        "200":
          description: Text has been removed
        "404":
          description: No such text under this URI

  /v1/corpora/{corpusname}/texts/{textname}/tei:
    get:
      summary: Get a single text
      description: Get a single text as TEI XML.
      operationId: get-text-tei
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      tags: [text]
      responses:
        "200":
          description: Returns a TEI XML document
          content:
            application/tei+xml:
              schema:
                type: string

  /v1/corpora/{corpusname}/texts/{textname}/plaintext:
    get:
      summary: Get plain text version of a single text
      description: Outputs the body and of the TEI document without any markup.
      operationId: get-text-plain
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      tags: [text]
      responses:
        "200":
          description: Returns a plain text document
          content:
            text/plain:

  /v1/search:
    get:
      summary: Full-text search
      description: >-
        Search across ELTeC corpora at paragraph level using Lucene full-text
        indexing. Returns matching paragraphs with KWIC context and citable
        unit identifiers compatible with the DTS Navigation and Document
        endpoints.
      operationId: search
      tags: [search]
      parameters:
        - name: q
          in: query
          required: true
          description: Search query string (passed to Lucene full-text search)
          schema:
            type: string
          example: castle
        - name: corpus
          in: query
          description: >-
            Corpus name to restrict search to a single corpus.
            If omitted, searches across all loaded corpora.
          schema:
            type: string
          example: eltec-eng
        - name: id
          in: query
          description: >-
            Text identifier to restrict search to a single text
            (e.g. DEU001). Can be combined with `corpus`.
          schema:
            type: string
          example: ENG18400
        - name: limit
          in: query
          description: Number of results to return per page
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          description: Zero-based offset for pagination
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Returns search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
              example:
                {
                  "query": "castle",
                  "totalHits": 507,
                  "offset": 0,
                  "limit": 20,
                  "results": [
                    {
                      "id": "ENG18400",
                      "name": "eng18400",
                      "corpus": "eltec-eng",
                      "title": "The Heir of Redclyffe : ELTeC edition",
                      "authors": [{"name": "Yonge, Charlotte Mary"}],
                      "citableUnit": "body/div[29]/p[1]",
                      "kwic": "...repairing and beautifying my old castle — you would certainly call it a ca..."
                    }
                  ]
                }
        "400":
          description: Missing required parameter `q`
        "404":
          description: Specified corpus not found

  /v1/dts:
    get:
      summary: DTS Entry Point
      description: >-
        Provides discovery information for the DTS API endpoints.
        Returns JSON-LD with URI templates for the Collection, Navigation,
        and Document endpoints.
      operationId: dts-entry-point
      tags: [DTS]
      responses:
        "200":
          description: Returns DTS Entry Point JSON-LD
          content:
            application/ld+json:
              schema:
                type: object
              example:
                {
                  "@context": "https://dtsapi.org/context/v1.0.json",
                  "@id": "/v1/dts",
                  "@type": "EntryPoint",
                  "dtsVersion": "1.0",
                  "collection": "/v1/dts/collection{?id,page,nav}",
                  "navigation": "/v1/dts/navigation{?resource,ref,start,end,down,tree,page}",
                  "document": "/v1/dts/document{?resource,ref,start,end,tree,mediaType}",
                }

  /v1/dts/collection:
    get:
      summary: DTS Collection
      description: >-
        Navigate collections of corpora and texts. Without an `id` parameter,
        returns the root collection listing all corpora. With an `id`, returns
        either a corpus (Collection) or a text (Resource).
      operationId: dts-collection
      tags: [DTS]
      parameters:
        - name: id
          in: query
          description: Identifier for a collection (corpus name) or resource (text ID)
          schema:
            type: string
          examples:
            corpus:
              value: eltec-deu
              summary: German corpus
            resource:
              value: DEU001
              summary: A single text
        - name: page
          in: query
          description: Page number for paginated results
          schema:
            type: integer
        - name: nav
          in: query
          description: >-
            Navigation direction. Use "parents" to retrieve the parent
            collection instead of children.
          schema:
            type: string
            enum: [children, parents]
            default: children
      responses:
        "200":
          description: Returns a DTS Collection or Resource JSON-LD object
          content:
            application/ld+json:
              schema:
                type: object
        "400":
          description: Invalid parameter value (e.g. bad `nav` value)
        "404":
          description: Collection or resource not found

  /v1/dts/navigation:
    get:
      summary: DTS Navigation
      description: >-
        Navigate within a text's citation tree. Returns CitableUnit objects
        describing the internal structure of a resource. Use `down` to
        control depth, `ref` to query a specific node, or `start`/`end`
        for ranges.
      operationId: dts-navigation
      tags: [DTS]
      parameters:
        - name: resource
          in: query
          required: true
          description: Identifier of the resource (text ID, e.g. DEU001)
          schema:
            type: string
        - name: ref
          in: query
          description: >-
            XPath-ish identifier of a citation node (e.g. body/div[1]/p[3]).
            Cannot be combined with `start`/`end`.
          schema:
            type: string
        - name: start
          in: query
          description: Range start identifier. Requires `end`.
          schema:
            type: string
        - name: end
          in: query
          description: Range end identifier. Requires `start`.
          schema:
            type: string
        - name: down
          in: query
          description: >-
            Maximum depth of the citation subtree to return.
            Use -1 for full depth, 0 for siblings of `ref`.
          schema:
            type: integer
        - name: tree
          in: query
          description: CitationTree identifier (omit for default tree)
          schema:
            type: string
        - name: page
          in: query
          description: Page number for paginated results
          schema:
            type: integer
      responses:
        "200":
          description: Returns a DTS Navigation JSON-LD object with CitableUnits
          content:
            application/ld+json:
              schema:
                type: object
        "400":
          description: >-
            Bad request (missing `resource`, conflicting parameters,
            `down=0` without `ref`)
        "404":
          description: Resource or citation not found

  /v1/dts/document:
    get:
      summary: DTS Document
      description: >-
        Retrieve full or partial TEI/XML content of a resource. Without `ref`
        or `start`/`end`, returns the complete TEI document. With `ref`,
        returns a fragment wrapped in `<dts:wrapper>`. Supports
        `mediaType=text/plain` for plain text output.
      operationId: dts-document
      tags: [DTS]
      parameters:
        - name: resource
          in: query
          required: true
          description: Identifier of the resource (text ID)
          schema:
            type: string
        - name: ref
          in: query
          description: >-
            Citation node identifier for a fragment.
            Cannot be combined with `start`/`end`.
          schema:
            type: string
        - name: start
          in: query
          description: Range start identifier. Requires `end`.
          schema:
            type: string
        - name: end
          in: query
          description: Range end identifier. Requires `start`.
          schema:
            type: string
        - name: tree
          in: query
          description: CitationTree identifier (omit for default tree)
          schema:
            type: string
        - name: mediaType
          in: query
          description: >-
            Requested response format. Supported values:
            `application/xml` (default), `text/plain`.
          schema:
            type: string
            enum: [application/xml, text/plain]
      responses:
        "200":
          description: Returns TEI/XML or plain text content
          content:
            application/xml:
              schema:
                type: string
            text/plain:
              schema:
                type: string
        "400":
          description: Bad request (missing `resource`, conflicting parameters)
        "404":
          description: Resource, citation, or media type not found

components:
  parameters:
    corpusname:
      name: corpusname
      in: path
      required: true
      description: >
        Short name of the corpus as provided in the `name` property of the result
        objects from the [/corpora](#/corpus/get-corpora) endpoint
      schema:
        type: string
      examples:
        EnglishNovelCorpus:
          value: eng
          summary: English Novel Corpus
        GermanNovelCorpus:
          value: deu
          summary: German Novel Corpus
    textname:
      name: textname
      in: path
      required: true
      description: >
        Name parameter (or "slug") of the text as provided in the `name`
        property of the result objects of the
        [/corpora/{corpusname}/texts](#/corpus/get-corpus-texts) endpoint.
      schema:
        type: string
      examples:
        frankenstein:
          value: ENG18900_Doyle.xml
          summary: "The Sign of Four : ELTeC Edition"
  schemas:
    Info:
      type: object
      title: API Info
      x-eltec-api-function: "api:base"
      description: >-
        Information about the running ELTeC API instance, including its
        own version, the underlying eXist-db version, and the base URL
        under which the API is served.
      properties:
        name:
          type: string
          description: The application name (from the EXPath package descriptor)
        version:
          type: string
          description: The version of the eltec-api application
        existdb:
          type: string
          description: The version of the underlying eXist-db installation
        base:
          type: string
          format: url
          description: The base URL under which this API is served
    CorpusMetrics:
      type: object
      title: Corpus Metrics
      x-eltec-api-function: "metrics:corpus"
      description: >-
        Aggregate statistics for a corpus, computed by counting elements
        across all TEI documents in the corpus collection. Word counts
        are aggregated from cached per-text metrics.
      properties:
        numOfTexts:
          type: integer
          description: Total number of TEI documents in the corpus
        numOfAuthors:
          type: integer
          description: >-
            Number of distinct authors across all texts (counted by
            distinct-values of `tei:titleStmt/tei:author` content)
        numOfParagraphs:
          type: integer
          description: >-
            Total number of `tei:p` elements in the body of all texts
        numOfWords:
          type: integer
          description: >-
            Sum of word counts across all texts (aggregated from cached
            per-text metrics, calculated by tokenizing `tei:text` on `\W+`)
    BalanceDistribution:
      type: object
      title: Corpus Balance Distribution
      x-eltec-api-function: "metrics:corpus-balance"
      description: >-
        Distribution counts for the four ELTeC balance criteria
        (`eltec:authorGender`, `eltec:size`, `eltec:timeSlot`,
        `eltec:reprintCount`) plus author diversity metrics.
        Computed from elements in the `eltec:` namespace under
        `tei:profileDesc/tei:textDesc`.
      properties:
        gender:
          type: object
          description: Number of texts by author gender
          properties:
            M:
              type: integer
              description: Texts by male authors
            F:
              type: integer
              description: Texts by female authors
        size:
          type: object
          description: Number of texts by word-count bracket
          properties:
            short:
              type: integer
              description: "< 50,000 words"
            medium:
              type: integer
              description: "50,000 – 100,000 words"
            long:
              type: integer
              description: "> 100,000 words"
        timeSlot:
          type: object
          description: Number of texts by 20-year publication period
          properties:
            T1:
              type: integer
              description: "1840–1859"
            T2:
              type: integer
              description: "1860–1879"
            T3:
              type: integer
              description: "1880–1899"
            T4:
              type: integer
              description: "1900–1919"
        reprintCount:
          type: object
          description: Number of texts by canonicity proxy (known reprints)
          properties:
            high:
              type: integer
            low:
              type: integer
        authorDiversity:
          type: object
          description: Author representation diversity
          properties:
            singleTextAuthors:
              type: integer
              description: Authors contributing exactly 1 text
            tripleTextAuthors:
              type: integer
              description: Authors contributing 3 or more texts
    E5CScore:
      type: object
      title: E5C Conformance Score
      x-eltec-api-function: "e5c:calculate"
      description: >-
        ELTeC Corpus Composition Conformance (E5C) score. A weighted composite
        of 8 sub-scores measuring how well a corpus meets the ELTeC balance
        criteria. Formula: (text*3 + female*2 + single + triple + short + long
        + range*2 + reprint*2) / 13 * 10. Maximum theoretical score is ~85.
        See also https://github.com/distantreading/WG1/wiki/E5C-discussion-paper
      properties:
        e5c:
          type: number
          description: Composite E5C conformance score
        class:
          type: string
          description: >-
            Corpus classification based on text count and E5C score.
            "core" = 100+ texts, "plus" = fewer texts but E5C > 1,
            "extended" = low conformance or language extension corpus.
          enum: [core, plus, extended]
        subscores:
          type: object
          description: Individual sub-scores (each on a 0-11 scale)
          properties:
            text:
              type: number
              description: "Text count score (weight 3x). 10 = 100+ texts."
            female:
              type: number
              description: "Female author percentage score (weight 2x). Optimal: 40-60%."
            single:
              type: number
              description: "Single-text author percentage score (weight 1x). Optimal: 60-74%."
            triple:
              type: number
              description: "Triple-text author percentage score (weight 1x). Optimal: 27-34%."
            short:
              type: number
              description: "Short text percentage score (weight 1x). Optimal: 20-37%."
            long:
              type: number
              description: "Long text percentage score (weight 1x). Optimal: 20-37%."
            range:
              type: number
              description: "Time slot range score (weight 2x). Lower spread = higher score."
            reprint:
              type: number
              description: "Low reprint percentage score (weight 2x). Optimal: 30-60%."
    Corpus:
      type: object
      title: Corpus
      x-eltec-api-function: "eltei:get-corpus-info"
      description: >-
        Metadata for an ELTeC corpus, extracted from the `tei:teiCorpus`
        document at the root of the corpus collection. Includes basic
        bibliographic information, source repository, license, and
        aggregate metrics.
      properties:
        name:
          type: string
          description: >-
            Short corpus identifier (lowercase ASCII), e.g. `eltec-deu`.
            Taken from `tei:publicationStmt/tei:idno` (without `@type`).
        title:
          type: string
          description: >-
            Human-readable corpus title from `tei:titleStmt/tei:title`
        acronym:
          type: string
          description: >-
            Short acronym from `tei:titleStmt/tei:title[@type="acronym"]`
        description:
          type: string
          description: >-
            Markdown-rendered description from
            `tei:encodingDesc/tei:projectDesc`
        repository:
          type: string
          format: url
          description: >-
            Source GitHub repository URL from
            `tei:publicationStmt/tei:idno[@type="repo"]`
        licence:
          type: string
          description: License name from `tei:availability/tei:licence`
        licenceUrl:
          type: string
          format: url
          description: License URL from `tei:availability/tei:licence/@target`
        metrics:
          $ref: "#/components/schemas/CorpusMetrics"
        balance:
          $ref: "#/components/schemas/BalanceDistribution"
        e5c:
          $ref: "#/components/schemas/E5CScore"
        uri:
          type: string
          format: url
          description: URL of the corpus resource itself
        textsUrl:
          type: string
          format: url
          description: URL to the corpus texts list endpoint
        updated:
          type: string
          format: date-time
          description: >-
            Timestamp of the most recent metrics update across all texts
            (max `@updated` value across the texts' `metrics.xml` files)
        commit:
          type: string
          description: >-
            Git commit SHA of the loaded corpus version. Only present if
            all texts in the corpus share the same SHA.
      required:
        - name
        - title
        - repository
        - textsUrl
        - updated
    TextMetrics:
      type: object
      title: Text Metrics
      x-eltec-api-function: "metrics:text"
      description: >-
        Per-text statistics computed from the TEI document and the cached
        `metrics.xml` file alongside it.
      properties:
        numOfChapters:
          type: integer
          description: >-
            Number of `tei:div[@type="chapter"]` elements in the text
        numOfParagraphs:
          type: integer
          description: >-
            Number of `tei:p` elements in the body of the text
        numOfWords:
          type: integer
          description: >-
            Word count (cached). Calculated by tokenizing the
            `tei:text` content on `\W+`.
    References:
      type: array
      title: External References
      x-eltec-api-function: "eltei:get-refs"
      description: >-
        Array of external authority identifiers in prefixed form
        (e.g. `wikidata:Q12345`, `viaf:12345`, `gnd:11865103X`).
        Extracted from `@ref` attributes on author or title elements,
        augmented from the local `authors.xml` and `ids.xml` lookup
        tables where the source TEI lacks Wikidata IDs.
      items:
        type: string
        description: Prefixed authority identifier
    Author:
      type: object
      title: Author
      x-eltec-api-function: "eltei:get-authors"
      description: >-
        Author of a text, extracted from `tei:titleStmt/tei:author` in
        the TEI header. The ELTeC convention encodes the name as
        `"Name (birth-death)"`; the parser splits on ` (` to get the
        name. Authority references are augmented from the local
        `authors.xml` lookup table where the source TEI lacks Wikidata IDs.
      properties:
        name:
          type: string
          description: >-
            Author name (the ELTeC convention is "Surname, Forename")
        refs:
          $ref: "#/components/schemas/References"
        gender:
          type: string
          description: >-
            **Note:** Currently declared but NOT extracted by
            `eltei:get-authors`. Author gender is encoded at the text
            level via `eltec:authorGender` and exposed on the `Text`
            schema as `authorGender`.
      required:
        - name
    Source:
      type: object
      title: Bibliographic Source
      x-eltec-api-function: "eltei:get-sources"
      description: >-
        A bibliographic source for a text, extracted from
        `tei:teiHeader/tei:fileDesc/tei:sourceDesc/tei:bibl`.
        A text typically has multiple sources covering the digital
        edition, the print source, and the first edition.
      properties:
        bibl:
          type: string
          description: Full normalized text of the `tei:bibl` element
        type:
          type: string
          description: >-
            Source type from `@type`, typically `digitalSource`,
            `printSource`, or `firstEdition`
        author:
          type: string
          description: First `tei:author` from the `tei:bibl`
        title:
          type: string
          description: First `tei:title` from the `tei:bibl`
        publisher:
          type: string
          description: First `tei:publisher` from the `tei:bibl`
        placePublished:
          type: string
          description: First `tei:pubPlace` from the `tei:bibl`
        year:
          type: integer
          description: >-
            Publication year extracted from `tei:date` (parsed from
            `@when` or text content)
        links:
          type: array
          description: >-
            URLs from `tei:ref` elements in the `tei:bibl`,
            with TextGrid URIs expanded
          items:
            type: object
            properties:
              url:
                type: string
                format: url
              text:
                type: string
            required:
              - url
      required:
        - bibl
    Text:
      type: object
      title: Text
      x-eltec-api-function: "eltei:get-text-info"
      description: >-
        Metadata for a single ELTeC text. Combines basic bibliographic
        information from the TEI header (title, authors, sources) with
        cached metrics and the ELTeC balance criteria
        (`eltec:authorGender`, `eltec:size`, `eltec:timeSlot`,
        `eltec:reprintCount`).
      properties:
        id:
          type: string
          description: >-
            Text identifier from `tei:TEI/@xml:id`, e.g. `DEU001`
        name:
          type: string
          description: >-
            URL slug for the text (lowercase folder name in the
            eXist-db collection), e.g. `deu001`
        corpus:
          type: string
          description: Name of the corpus this text belongs to
        title:
          type: string
          description: Title from `tei:titleStmt/tei:title`
        authors:
          type: array
          items:
            $ref: "#/components/schemas/Author"
        refs:
          allOf:
            - $ref: "#/components/schemas/References"
          description: External references for the work itself (e.g. Wikidata)
        sources:
          type: array
          items:
            $ref: "#/components/schemas/Source"
        metrics:
          $ref: "#/components/schemas/TextMetrics"
        corpusUrl:
          type: string
          format: url
          description: URL to the parent corpus
        commit:
          type: string
          description: >-
            Git commit SHA of this text version (from `git.xml` in the
            text collection)
        authorGender:
          type: string
          description: >-
            Gender of the author from `eltec:authorGender/@key`. ELTeC
            encodes gender at the text level (not per author).
          enum: [M, F]
        sizeCategory:
          type: string
          description: >-
            Word-count bracket from `eltec:size/@key`. Thresholds:
            short < 50k, medium 50k–100k, long > 100k.
          enum: [short, medium, long]
        timeSlot:
          type: string
          description: >-
            20-year publication period from `eltec:timeSlot/@key`:
            T1 (1840–1859), T2 (1860–1879), T3 (1880–1899),
            T4 (1900–1919).
          enum: [T1, T2, T3, T4]
        reprintCount:
          type: string
          description: >-
            Canonicity proxy from `eltec:reprintCount/@key` (or the
            legacy `eltec:canonicity/@key`). Indicates whether the text
            had many reprints in its source language.
          enum: [low, high]
        referenceYear:
          type: string
          description: >-
            Reference year for the text, derived from source dates by
            priority: first edition > print source > digital source.
      required:
        - id
        - name
        - title
        - corpus
        - metrics
        - corpusUrl
    SearchResponse:
      type: object
      title: Search Results
      x-eltec-api-function: "search:search"
      description: >-
        Paginated full-text search results. Hits are returned at
        paragraph level (one entry per matching `tei:p`) in document
        order.
      properties:
        query:
          type: string
          description: The search query that was executed
        totalHits:
          type: integer
          description: Total number of matching paragraphs across all texts
        offset:
          type: integer
          description: Zero-based offset of the current page
        limit:
          type: integer
          description: Number of results per page
        results:
          type: array
          items:
            $ref: "#/components/schemas/SearchHit"
    SearchHit:
      type: object
      title: Search Hit
      x-eltec-api-function: "search:search"
      description: >-
        A single search result representing one matching paragraph.
        Includes basic text metadata, a KWIC context snippet, and direct
        URLs to the corresponding DTS endpoints for retrieving the full
        passage or its citation context.
      properties:
        id:
          type: string
          description: Text identifier (e.g. DEU001)
        name:
          type: string
          description: Text name / slug (e.g. deu001)
        corpus:
          type: string
          description: Corpus name (e.g. eltec-deu)
        title:
          type: string
          description: Text title
        authors:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
        kwic:
          type: string
          description: Keyword-in-context snippet showing the match
        collection:
          type: string
          format: url
          description: >-
            URL to the DTS Collection endpoint for the text
            containing the match
        document:
          type: string
          format: url
          description: >-
            URL to the DTS Document endpoint to retrieve the
            matching paragraph as TEI/XML
        navigation:
          type: string
          format: url
          description: >-
            URL to the DTS Navigation endpoint for the matching
            paragraph's citation context
