openapi: "3.0.0"

info:
  version: 0.0.1
  title: ELTeC API
  contact:
    email: "trilcke@uni-potsdam.de"
  termsOfService: "https://eltec.clscor.io"
  license:
    name: "MIT"
    url: "https://github.com/clscor-io/eltec-api/blob/main/LICENSE"

servers:
  - url: https://eltec.clscor.io/api

tags:
  - name: meta
    description: Information about this service.
  - name: corpus
    description: Analyze a corpus.
  - name: text
    description: Analyze a text.
  - name: admin
    description: Manage corpora.
  - name: search
    description: Full-text search across ELTeC corpora.
  - name: DTS
    description: >-
      Distributed Text Services (DTS) v1.0 API.
      See https://dtsapi.org/specifications/versions/v1.0/

paths:
  /v1:
    get:
      summary: API base
      description: >-
        Shows version numbers of the eltec-api app and the underlying
        eXist-db.
      operationId: get-base
      tags: [meta]
      responses:
        "200":
          description: Returns JSON object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Info"
              example:
                { "existdb": "6.4.0", "name": "ELTeC API", "version": "1.0.0" }

  /v1/info:
    get:
      summary: API info
      description: See /v1
      operationId: get-info
      tags: [meta]
      responses:
        "200":
          description: Returns JSON object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Info"
              example:
                { "existdb": "6.4.0", "name": "ELTeC API", "version": "1.0.0" }

  /v1/corpora:
    get:
      summary: List available corpora
      description: Get a list of available corpora. Optionally include corpus metrics.
      operationId: get-corpora
      tags: [corpus]
      responses:
        "200":
          description: Returns list of available corpora
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Corpus"
              example:
                [
                  {
                    "name": "eng",
                    "title": "English Novel Corpus",
                    "repository": "https://github.com/COST-ELTeC/ELTeC-eng",
                    "description": "This is the English novel collection for the ELTeC, the European Literary Text Collection.",
                    "licence": "CC BY",
                    "licenceUrl": "https://creativecommons.org/licenses/by/4.0/",
                    "uri": "http://eltec.clscor.io/api/corpora/eng",
                    "textsUrl": "http://eltec.clscor.io/api/corpora/eng/texts",
                    "metrics":
                      {
                        "numOfTexts": 23,
                        "numOfAuthors": 21,
                        "numOfParagraphs": 46457,
                        "numOfWords": 2346818.0,
                      },
                    "updated": "2025-07-02T13:52:54.934Z",
                  },
                ]
    post:
      summary: Add new corpus
      operationId: post-corpora
      tags: [admin]
      requestBody:
        description: |
          The meta data for the new corpus can be provided in either JSON or XML
          format. The JSON structure is a straightforward object providing
          corpus name, title and (optionally) a repository URL. The XML format
          needs to be a TEI document with `teiCorpus` as its root element. The
          corpus title needs to be provided in the `titleStmt` while the name
          and repo URL are encoded in particular `idno` elements in the
          `publicationStmt` (see example).

          NB: Contrary to the TEI schema our teiCorpus document must not contain
          the `TEI` elements for individual texts.
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - title
              properties:
                name:
                  type: string
                  description: corpus name
                title:
                  type: string
                  description: corpus title
                repository:
                  type: string
                  description: Git repository URL
            example: |
              {
                "name": "eng",
                "title": "English Novel Corpus",
                "repository": "https://github.com/COST-ELTeC/ELTeC-eng"
              }
          application/xml:
            schema:
              type: string
            example: |
              <?xml version="1.0" encoding="UTF-8"?>
              <teiCorpus xmlns="http://www.tei-c.org/ns/1.0">
                <teiHeader>
                  <fileDesc>
                    <titleStmt>
                      <title>English Novel Corpus</title>
                    </titleStmt>
                    <publicationStmt>
                      <publisher>ELTeC</publisher>
                      <idno>eng</idno>
                      <idno type="repo">https://github.com/COST-ELTeC/ELTeC-eng</idno>
                    </publicationStmt>
                  </fileDesc>
                </teiHeader>
              </teiCorpus>
      responses:
        "200":
          description: Returns corpus metadata
          content:
            application/json:
              schema:
                type: object
        "409":
          description: Corpus already exists
        "400":
          description: Posted data lacks required properties or is malformed

  /v1/corpora/{corpusname}:
    get:
      summary: Get metadata of a single corpus
      description: Retrieve metadata about a single corpus.
      operationId: get-corpus
      tags: [corpus]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        "200":
          description: Returns object representing corpus metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Corpus"
              example: |
                {
                  "name": "eng",
                  "title": "English Novel Corpus",
                  "repository": "https://github.com/COST-ELTeC/ELTeC-eng",
                  "description": "This is the English novel collection for the ELTeC, the European Literary Text Collection.",
                  "licence": "CC BY",
                  "licenceUrl": "https://creativecommons.org/licenses/by/4.0/",
                  "uri": "http://eltec.clscor.io/api/corpora/eng",
                  "textsUrl": "http://eltec.clscor.io/api/corpora/eng/texts",
                  "metrics":
                    {
                      "numOfTexts": 23,
                      "numOfAuthors": 21,
                      "numOfParagraphs": 46457,
                      "numOfWords": 2346818.0
                    },
                  "updated": "2025-07-02T13:52:54.934Z"
                }
        "404":
          description: Corpus not found
    put:
      summary: Update corpus.xml
      description: >-
        This endpoint requires authorization.

        Sending a PUT request to the corpus URI with a teiCorpus document as
        payload updates the corpus information for that corpus.
      operationId: put-corpus
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        "200":
          description: corpus.xml has been successfully updated
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Corpus not found
        "400":
          description: >-
            Corpus information could not be updated
    post:
      summary: Load corpus data from its repository
      description: >-
        This endpoint requires authorization.

        Sending a POST request to the corpus URI reloads the data for this
        corpus from its repository (if defined).
      operationId: load-corpus
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        "202":
          description: Corpus update has been scheduled
          content:
            application/json:
              schema:
                type: object
              example: |
                {
                  "message": "corpus update scheduled"
                }
        "404":
          description: Corpus not found
        "409":
          description: >-
            Corpus update could not be scheduled.

            This is the response when another update has not yet finished.
    delete:
      summary: Remove corpus from database
      operationId: delete-corpus
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        "200":
          description: Corpus deleted
        "404":
          description: Corpus not found

  /v1/corpora/{corpusname}/texts:
    get:
      summary: List texts in a corpus
      description: Get the contens of a single corpus
      operationId: get-corpus-texts
      tags: [corpus]
      parameters:
        - $ref: "#/components/parameters/corpusname"
      responses:
        "200":
          description: Returns an array with text meta data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Text"

  /v1/corpora/{corpusname}/texts/{textname}:
    get:
      summary: Get a single text information
      description: Get metadata about an individual text in JSON format.
      operationId: get-text
      tags: [text]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      responses:
        "200":
          description: Returns an object with text meta data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Text"
            application/tei+xml:
              schema:
                type: string

    delete:
      summary: Remove a single text from the corpus
      operationId: delete-text
      tags: [admin]
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      responses:
        "200":
          description: Text has been removed
        "404":
          description: No such text under this URI

  /v1/corpora/{corpusname}/texts/{textname}/tei:
    get:
      summary: Get a single text
      description: Get a single text as TEI XML.
      operationId: get-text-tei
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      tags: [text]
      responses:
        "200":
          description: Returns a TEI XML document
          content:
            application/tei+xml:
              schema:
                type: string

  /v1/corpora/{corpusname}/texts/{textname}/plaintext:
    get:
      summary: Get plain text version of a single text
      description: Outputs the body and of the TEI document without any markup.
      operationId: get-text-plain
      parameters:
        - $ref: "#/components/parameters/corpusname"
        - $ref: "#/components/parameters/textname"
      tags: [text]
      responses:
        "200":
          description: Returns a plain text document
          content:
            text/plain:

  /v1/search:
    get:
      summary: Full-text search
      description: >-
        Search across ELTeC corpora at paragraph level using Lucene full-text
        indexing. Returns matching paragraphs with KWIC context and citable
        unit identifiers compatible with the DTS Navigation and Document
        endpoints.
      operationId: search
      tags: [search]
      parameters:
        - name: q
          in: query
          required: true
          description: Search query string (passed to Lucene full-text search)
          schema:
            type: string
          example: castle
        - name: corpus
          in: query
          description: >-
            Corpus name to restrict search to a single corpus.
            If omitted, searches across all loaded corpora.
          schema:
            type: string
          example: eltec-eng
        - name: limit
          in: query
          description: Number of results to return per page
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          description: Zero-based offset for pagination
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Returns search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
              example:
                {
                  "query": "castle",
                  "totalHits": 507,
                  "offset": 0,
                  "limit": 20,
                  "results": [
                    {
                      "id": "ENG18400",
                      "name": "eng18400",
                      "corpus": "eltec-eng",
                      "title": "The Heir of Redclyffe : ELTeC edition",
                      "authors": [{"name": "Yonge, Charlotte Mary"}],
                      "citableUnit": "body/div[29]/p[1]",
                      "kwic": "...repairing and beautifying my old castle — you would certainly call it a ca..."
                    }
                  ]
                }
        "400":
          description: Missing required parameter `q`
        "404":
          description: Specified corpus not found

  /v1/dts:
    get:
      summary: DTS Entry Point
      description: >-
        Provides discovery information for the DTS API endpoints.
        Returns JSON-LD with URI templates for the Collection, Navigation,
        and Document endpoints.
      operationId: dts-entry-point
      tags: [DTS]
      responses:
        "200":
          description: Returns DTS Entry Point JSON-LD
          content:
            application/ld+json:
              schema:
                type: object
              example:
                {
                  "@context": "https://dtsapi.org/context/v1.0.json",
                  "@id": "/v1/dts",
                  "@type": "EntryPoint",
                  "dtsVersion": "1.0",
                  "collection": "/v1/dts/collection{?id,page,nav}",
                  "navigation": "/v1/dts/navigation{?resource,ref,start,end,down,tree,page}",
                  "document": "/v1/dts/document{?resource,ref,start,end,tree,mediaType}",
                }

  /v1/dts/collection:
    get:
      summary: DTS Collection
      description: >-
        Navigate collections of corpora and texts. Without an `id` parameter,
        returns the root collection listing all corpora. With an `id`, returns
        either a corpus (Collection) or a text (Resource).
      operationId: dts-collection
      tags: [DTS]
      parameters:
        - name: id
          in: query
          description: Identifier for a collection (corpus name) or resource (text ID)
          schema:
            type: string
          examples:
            corpus:
              value: eltec-deu
              summary: German corpus
            resource:
              value: DEU001
              summary: A single text
        - name: page
          in: query
          description: Page number for paginated results
          schema:
            type: integer
        - name: nav
          in: query
          description: >-
            Navigation direction. Use "parents" to retrieve the parent
            collection instead of children.
          schema:
            type: string
            enum: [children, parents]
            default: children
      responses:
        "200":
          description: Returns a DTS Collection or Resource JSON-LD object
          content:
            application/ld+json:
              schema:
                type: object
        "400":
          description: Invalid parameter value (e.g. bad `nav` value)
        "404":
          description: Collection or resource not found

  /v1/dts/navigation:
    get:
      summary: DTS Navigation
      description: >-
        Navigate within a text's citation tree. Returns CitableUnit objects
        describing the internal structure of a resource. Use `down` to
        control depth, `ref` to query a specific node, or `start`/`end`
        for ranges.
      operationId: dts-navigation
      tags: [DTS]
      parameters:
        - name: resource
          in: query
          required: true
          description: Identifier of the resource (text ID, e.g. DEU001)
          schema:
            type: string
        - name: ref
          in: query
          description: >-
            XPath-ish identifier of a citation node (e.g. body/div[1]/p[3]).
            Cannot be combined with `start`/`end`.
          schema:
            type: string
        - name: start
          in: query
          description: Range start identifier. Requires `end`.
          schema:
            type: string
        - name: end
          in: query
          description: Range end identifier. Requires `start`.
          schema:
            type: string
        - name: down
          in: query
          description: >-
            Maximum depth of the citation subtree to return.
            Use -1 for full depth, 0 for siblings of `ref`.
          schema:
            type: integer
        - name: tree
          in: query
          description: CitationTree identifier (omit for default tree)
          schema:
            type: string
        - name: page
          in: query
          description: Page number for paginated results
          schema:
            type: integer
      responses:
        "200":
          description: Returns a DTS Navigation JSON-LD object with CitableUnits
          content:
            application/ld+json:
              schema:
                type: object
        "400":
          description: >-
            Bad request (missing `resource`, conflicting parameters,
            `down=0` without `ref`)
        "404":
          description: Resource or citation not found

  /v1/dts/document:
    get:
      summary: DTS Document
      description: >-
        Retrieve full or partial TEI/XML content of a resource. Without `ref`
        or `start`/`end`, returns the complete TEI document. With `ref`,
        returns a fragment wrapped in `<dts:wrapper>`. Supports
        `mediaType=text/plain` for plain text output.
      operationId: dts-document
      tags: [DTS]
      parameters:
        - name: resource
          in: query
          required: true
          description: Identifier of the resource (text ID)
          schema:
            type: string
        - name: ref
          in: query
          description: >-
            Citation node identifier for a fragment.
            Cannot be combined with `start`/`end`.
          schema:
            type: string
        - name: start
          in: query
          description: Range start identifier. Requires `end`.
          schema:
            type: string
        - name: end
          in: query
          description: Range end identifier. Requires `start`.
          schema:
            type: string
        - name: tree
          in: query
          description: CitationTree identifier (omit for default tree)
          schema:
            type: string
        - name: mediaType
          in: query
          description: >-
            Requested response format. Supported values:
            `application/xml` (default), `text/plain`.
          schema:
            type: string
            enum: [application/xml, text/plain]
      responses:
        "200":
          description: Returns TEI/XML or plain text content
          content:
            application/xml:
              schema:
                type: string
            text/plain:
              schema:
                type: string
        "400":
          description: Bad request (missing `resource`, conflicting parameters)
        "404":
          description: Resource, citation, or media type not found

components:
  parameters:
    corpusname:
      name: corpusname
      in: path
      required: true
      description: >
        Short name of the corpus as provided in the `name` property of the result
        objects from the [/corpora](#/corpus/get-corpora) endpoint
      schema:
        type: string
      examples:
        EnglishNovelCorpus:
          value: eng
          summary: English Novel Corpus
        GermanNovelCorpus:
          value: deu
          summary: German Novel Corpus
    textname:
      name: textname
      in: path
      required: true
      description: >
        Name parameter (or "slug") of the text as provided in the `name`
        property of the result objects of the
        [/corpora/{corpusname}/texts](#/corpus/get-corpus-texts) endpoint.
      schema:
        type: string
      examples:
        frankenstein:
          value: ENG18900_Doyle.xml
          summary: "The Sign of Four : ELTeC Edition"
  schemas:
    Info:
      type: object
      properties:
        version:
          type: string
        name:
          type: string
        status:
          type: string
        existdb:
          type: string
    CorpusMetrics:
      type: object
      properties:
        numOfTexts:
          type: integer
        numOfParagraphs:
          type: integer
        numOfWords:
          type: integer
        numOfAuthors:
          type: integer
    BalanceDistribution:
      type: object
      description: >-
        Distribution counts for the ELTeC corpus balance criteria.
      properties:
        gender:
          type: object
          description: Number of texts by author gender
          properties:
            M:
              type: integer
              description: Texts by male authors
            F:
              type: integer
              description: Texts by female authors
        size:
          type: object
          description: Number of texts by word-count bracket
          properties:
            short:
              type: integer
              description: "< 50,000 words"
            medium:
              type: integer
              description: "50,000 – 100,000 words"
            long:
              type: integer
              description: "> 100,000 words"
        timeSlot:
          type: object
          description: Number of texts by 20-year publication period
          properties:
            T1:
              type: integer
              description: "1840–1859"
            T2:
              type: integer
              description: "1860–1879"
            T3:
              type: integer
              description: "1880–1899"
            T4:
              type: integer
              description: "1900–1919"
        reprintCount:
          type: object
          description: Number of texts by canonicity proxy (known reprints)
          properties:
            high:
              type: integer
            low:
              type: integer
        authorDiversity:
          type: object
          description: Author representation diversity
          properties:
            singleTextAuthors:
              type: integer
              description: Authors contributing exactly 1 text
            tripleTextAuthors:
              type: integer
              description: Authors contributing 3 or more texts
    E5CScore:
      type: object
      description: >-
        ELTeC Corpus Composition Conformance (E5C) score. A weighted composite
        of 8 sub-scores measuring how well a corpus meets the ELTeC balance
        criteria. Formula: (text*3 + female*2 + single + triple + short + long
        + range*2 + reprint*2) / 13 * 10. Maximum theoretical score is ~85.
        See also https://github.com/distantreading/WG1/wiki/E5C-discussion-paper
      properties:
        e5c:
          type: number
          description: Composite E5C conformance score
        class:
          type: string
          description: >-
            Corpus classification based on text count and E5C score.
            "core" = 100+ texts, "plus" = fewer texts but E5C > 1,
            "extended" = low conformance or language extension corpus.
          enum: [core, plus, extended]
        subscores:
          type: object
          description: Individual sub-scores (each on a 0-11 scale)
          properties:
            text:
              type: number
              description: "Text count score (weight 3x). 10 = 100+ texts."
            female:
              type: number
              description: "Female author percentage score (weight 2x). Optimal: 40-60%."
            single:
              type: number
              description: "Single-text author percentage score (weight 1x). Optimal: 60-74%."
            triple:
              type: number
              description: "Triple-text author percentage score (weight 1x). Optimal: 27-34%."
            short:
              type: number
              description: "Short text percentage score (weight 1x). Optimal: 20-37%."
            long:
              type: number
              description: "Long text percentage score (weight 1x). Optimal: 20-37%."
            range:
              type: number
              description: "Time slot range score (weight 2x). Lower spread = higher score."
            reprint:
              type: number
              description: "Low reprint percentage score (weight 2x). Optimal: 30-60%."
    Corpus:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        acronym:
          type: string
        description:
          type: string
        repository:
          type: string
          format: url
        licence:
          type: string
        licenceUrl:
          type: string
          format: url
        metrics:
          $ref: "#/components/schemas/CorpusMetrics"
        balance:
          $ref: "#/components/schemas/BalanceDistribution"
        e5c:
          $ref: "#/components/schemas/E5CScore"
        textsUrl:
          type: string
          format: url
        updated:
          type: string
        commit:
          type: string
      required:
        - name
        - title
        - repository
        - textsUrl
        - updated
    ExternalReferenceResourceId:
      type: object
      properties:
        type:
          type: string
        ref:
          type: string
    TextMetrics:
      type: object
      properties:
        numOfChapters:
          type: integer
        numOfParagraphs:
          type: integer
        numOfWords:
          type: integer
    References:
      description: An array of external references, e.g. VIAF, GND or Wikidata IDs
      type: array
      items:
        type: string
        format: url
    Author:
      type: object
      properties:
        name:
          type: string
        refs:
          $ref: "#/components/schemas/References"
        gender:
          type: string
      required:
        - name
    Source:
      type: object
      properties:
        bibl:
          type: string
          description: Full normalized text of the bibl element
        type:
          type: string
          description: Source type, e.g. "digitalSource", "printSource", or "firstEdition"
        author:
          type: string
        title:
          type: string
        publisher:
          type: string
        placePublished:
          type: string
        year:
          type: integer
        links:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                format: url
              text:
                type: string
            required:
              - url
      required:
        - bibl
    Text:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        corpus:
          type: string
        title:
          type: string
        authors:
          type: array
          items:
            $ref: "#/components/schemas/Author"
        refs:
          $ref: "#/components/schemas/References"
        sources:
          type: array
          items:
            $ref: "#/components/schemas/Source"
        metrics:
          $ref: "#/components/schemas/TextMetrics"
        corpusUrl:
          type: string
          format: url
        commit:
          type: string
        authorGender:
          type: string
          description: Gender of the author (ELTeC balance criterion)
          enum: [M, F]
        sizeCategory:
          type: string
          description: Word-count bracket (ELTeC balance criterion)
          enum: [short, medium, long]
        timeSlot:
          type: string
          description: 20-year publication period (ELTeC balance criterion)
          enum: [T1, T2, T3, T4]
        reprintCount:
          type: string
          description: Canonicity proxy based on known reprints (ELTeC balance criterion)
          enum: [low, high]
        referenceYear:
          type: string
          description: >-
            Reference year for the text, derived by priority:
            first edition > print source > digital source date.
      required:
        - id
        - name
        - title
        - corpus
        - metrics
        - corpusUrl
    SearchResponse:
      type: object
      properties:
        query:
          type: string
          description: The search query that was executed
        totalHits:
          type: integer
          description: Total number of matching paragraphs
        offset:
          type: integer
          description: Zero-based offset of the current page
        limit:
          type: integer
          description: Number of results per page
        results:
          type: array
          items:
            $ref: "#/components/schemas/SearchHit"
    SearchHit:
      type: object
      properties:
        id:
          type: string
          description: Text identifier (e.g. DEU001)
        name:
          type: string
          description: Text name / slug (e.g. deu001)
        corpus:
          type: string
          description: Corpus name (e.g. eltec-deu)
        title:
          type: string
          description: Text title
        authors:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
        kwic:
          type: string
          description: Keyword-in-context snippet showing the match
        collection:
          type: string
          format: url
          description: >-
            URL to the DTS Collection endpoint for the text
            containing the match
        document:
          type: string
          format: url
          description: >-
            URL to the DTS Document endpoint to retrieve the
            matching paragraph as TEI/XML
        navigation:
          type: string
          format: url
          description: >-
            URL to the DTS Navigation endpoint for the matching
            paragraph's citation context
    Occurrence:
      type: object
      properties:
        frequency:
          type: integer
        id:
          type: string
        # FIXME: Including the text paragraphs will not perform on the corpus
        # level which is why the property is optional for now. We should
        # consider removing it and finding an alternative why to access the
        # text. How about providing a link to the TEI with the paragraph ID as
        # fragment identifier.
        text:
          type: string
      required:
        - frequency
        - id
